services:
  php:
    build: .
    volumes:
      - .:/var/www/html
      - ./apache.conf:/etc/apache2/sites-enabled/000-default.conf
    ports:
      - "8080:80"
    depends_on:
      - db
  db:
    image: mysql:8.0
    restart: always
    env_file:
      - .env
    volumes:
      - ind_data:/var/lib/mysql
    ports:
      - "3306:3306"
  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: pass
    depends_on:
      - db
  jenkins-controller:
    build:
      context: ./jenkins
      dockerfile: Dockerfile
    container_name: jenkins-controller
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
    networks:
      - jenkins-network
volumes:
  ind_data: